<!-- Header -->
<%- include('../partials/head.ejs') %>

<body>
  <!-- Navigation Bar -->
  <%- include('../partials/nav.ejs') %>
<div class="container">

  <main>
    <div class="container">
      <h1 class="my-4">Course title : <%= course.title  %> </h1>

      <div class="row">
        <div class="col-md-8">
          <img
            class="img-fluid"
            src="<%= course.imageUrl %>"
            alt="Course image"
          />
        </div>

        <div class="col-md-4 text-center">
          <h3 class="my-3">Course Description</h3>
          <p><%= course.description %></p>


          <% if (isAuthor) { %>
            <!-- <a class="btn btn-danger deleteBtn" data-doc="<%= course._id  %>">Delete</a> -->
            <a class="btn btn-danger deleteBtn" href="<%= course._id%>/delete">Delete</a>

            <a class="btn btn-warning editBtn" href="<%= course._id%>/edit">Edit</a>
          <% }else { %> 

            <% if (isEnrolled) { %>
            <!-- <span class="enrolled-span alreadyEnrolled" >You are already enrolled</span> -->
            <a class="btn btn-success enrollBtn" href="<%= course._id%>/enroll">You are currently enrolled</a>
            <% } else { %> 
            <a class="btn btn-primary enrollBtn" href="<%= course._id%>/enroll">Enroll</a>
            <% } %> 
          <% } %> 

        </div>
      </div>
    </div>
  </main>
</div>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>


<!-- <script>
      const deleteBtn = document.querySelector(".deleteBtn");
      deleteBtn.addEventListener("click", (e) => {
        console.log('Delete Btn Clicked')
        const endpoint = `/courses/${deleteBtn.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json()) //parse into a JS object
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.error(err.message));
      });
    </script> -->

</body>
</html>